<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Album</title>
</head>
<body>

<h3>Create a new Album</h3>
<hr>

<form name="form" novalidate class="form-horizontal">


    <div class="form-group row" ng-class="{'has-error': !(form.name.$valid)}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input placeholder="Album name (title)" id="name" type="text"
                   ng-minlength="1"
                   ng-maxlength="100" name="name"
                   class="form-control"
                   ng-model="newAlbum.name" required/>
        </div>
    </div>

    <br/>

    <div class="form-group row" ng-class="{'has-error': !(form.name.$valid)}">
        <label for="coverURI" class="col-sm-2 control-label">Album Cover URI</label>
        <div class="col-sm-10">
            <input placeholder="Album Cover URI" id="coverURI" type="text"
                   ng-minlength="1"
                   class="form-control"
                   ng-model="newAlbum.coverURI" required/>
        </div>
    </div>

    <br/>

    <div class="form-group row">
        <label for="band" class="col-sm-2 control-label">Band</label>
        <div class="col-sm-10">
            <select id="band" name="owner" class="form-control" ng-model="newAlbum.bandId" required>
                <option ng-repeat="band in availableBands" value="{{band.id}}">{{band.name}}</option>
            </select>
        </div>
    </div>

    <button ng-disabled="!form.$valid" ng-click="createNewAlbum(newAlbum)" class="btn btn-primary" type="submit">
        Create
    </button>

</body>
</html>