<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Band members</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h3>Members</h3>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="member in members">
            <td>
                {{member.name}}
            </td>
            <td>
                {{member.role}}
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>